:root{
	--PageBackground: black;
	--PrimaryContrast: #c44716;
	--SecondaryContrast: #871616;
	--SecondaryFlip: #cf1b1b;
	--ThirdContrast: #871616;
	--HeaderColor: #871616;
	--NotWhite: #e8deda;
}

body{
	background-color: var(--PageBackground);
	background: -webkit-linear-gradient( var(--SecondaryContrast) 30%, black);
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: "Monaco", monospace;
}

header{
	background-color: transparent;
	text-align: center;
}

header h1{
	color : var(--PageBackground);
}

header h2{
	color : var(--PageBackground);
}

header h3{
	color: var(--NotWhite);
}

#intro{
	background-color: transparent;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 1%;
	color : var(--NotWhite);
	line-height: 150%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
}

#intro img{
	border-radius: 50%;
	width: 25%;
}

/*nav{
	margin-bottom: 5%;
	width: 90%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	transform: translate(5%, 0);
}*/

main{
	margin-bottom: 10%;
}
main div{
	display: block;
	padding: 2%;

}
main div img{
	display: block;
	margin: 0px;
	margin-right: 10%;
	padding: 0px;
	float: right;
	position: relative;
}
main div h2{
	display: block;
	background-color : var(--SecondaryContrast);
	width: 60%;
	padding: 1%;
	margin: 0px;
	color : var(--NotWhite);
}
main div p{
	display: block;
	background-color : var(--SecondaryContrast);
	width: 60%;
	padding: 1%;
	margin: 0%;
	color : var(--NotWhite);
}

main div ul{
	background-color: var(--SecondaryContrast);
	display: block;
	margin: 0;
	padding-left: 2%;
	width: 60%;
	color: var(--NotWhite);
}

main div a{
	text-decoration: none;
	background-color: var(--ThirdContrast);
	color: black;
	margin-top: 50px;
	padding: 1.5%;
	border: 2px solid black;
	border-radius: 20px;
}

main div a:hover{
	color: var(--NotWhite);
	border: 2px solid black;
	background-color: black;
}

main div button{
	border: none;
	background-color: var(--ThirdContrast);
	font-size: 16px;
	padding: 0.5%;
}

main div button:hover{
	color: var(--NotWhite);
	background-color: var(--SecondaryFlip);
}

footer{
	padding: 5px;
	text-align: center;
}

footer p{
	color : var(--NotWhite);
}

#index{
	width: 100%;
	height: 20%;
}

#index ul{
	/*margin-left: 37.5%;
	transform: translateX(50%);*/
	width: 50%;
	padding: 0;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

#index ul li{
	list-style: none;
	display: inline-block;
	/*float: left;*/
	padding: 1.5%;
	border: 2px solid var(--NotWhite);
	/*background-color: var(--PrimaryContrast);*/
	border-radius: 20px;
}

#index ul li:hover{
	background-color: var(--SecondaryFlip);
	border: 2px solid var(--SecondaryFlip);
}

#index ul li a{
	text-decoration: none;
	color: var(--NotWhite);
}

#showLink{
	display: block;
	padding: 2%;
	height: -250px;
}
#showLink h2{
	background-color: var(--ThirdContrast);
}

#showLink a{
	text-decoration: bold;
	background-color: var(--ThirdContrast);
	color: var(--NotWhite);
	border: none;
}

#showLink a:hover{
	color : black;
}

#showcase{
	background-color: transparent;
}

#showcase img{
	margin-left: 25%;
	width: 50%;
	height: 50%;
}

#showcase p{
	color : var(--NotWhite);
	text-align: center;
	text-decoration: bold;
	padding-bottom: 2%;
	padding-top: 2%;
}

#contactArea{
	background-color: rgba(0, 0, 0, 0.3);
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 1%;
	color : var(--NotWhite);
	line-height: 150%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
}

#contactArea h2 a{
	color: var(--NotWhite);
	text-decoration: none;
}


#contactArea h2 a:hover{
	color: green;
}

#contactArea p a{
	color: var(--SecondaryFlip);
}

#table{
	background-color: var(--ThirdContrast);
	width: 70%;
	display: block flex;
	flex-flow: column;
	margin-left: auto;
	margin-right: auto;
	border: solid black;
}


#tr{
	border: solid black;
	flex-flow: row;
}

#tr ul{
	width: 100%;
	list-style: none;
	text-decoration: underline;
}

.mypart{
	color: #222222;
	display: none;
}

.gallery-container{
	position: relative;
	width: 75%;
	margin-left: 12.5%;
	border: solid;
	background-color: rgba(0, 0, 0, 0.5);
}

.slides{
	display: none;
	background-color: transparent;
}

.slide-text{
	text-align: center;
	background-color: transparent;
	color: var(--NotWhite);
}

#first{
	display: block;
}

.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}