:root{
    --IncomeColor: #7cde68;
    --ExpenseColor: #de5d5d;
    --BaseColor: #355073;
    --AccentColor: #22334a;
    --TextColor: #b7cce8;
    --DarkText: #30363d;
}

body{
    background-color: var(--BaseColor);
    color: var(--TextColor);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    text-align: center;
}

#titleInput{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}

#left{
    float: left;
    padding: 2%;
    width: 46%;
}

#right{
    float: right;
    padding: 2%;
    width: 46%;
}

.incomeSection{
    padding: 0.5%;
    background-color: var(--IncomeColor);
    color: var(--DarkText);
}

.expenseSection{
    padding: 0.5%;
    background-color: var(--ExpenseColor);
    color: var(--DarkText);
}

#breakdown{
    padding-left: 3%;
    font-size: large;
}